@font-face {
    font-family: Gregorian;
    src: url(./media//GregorianFLF.ttf);
    font-family: Akzidenz-Grotesk;
    src: url(./media//Akzidenz-grotesk-black.ttf);
}
@font-face {
    font-family: Gregorian;
    src: url(./media//GregorianFLF.ttf);
}


.body {
    display: flex;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: url(./media/goblin_cursor2.png), auto;
}

.download-button:hover {
    cursor: url(./media/goblin_cursor1.png), auto;
}

.download-button:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}

.header {
    font-family: Gregorian;
    font-size: xx-large;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 115, 0);
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    cursor: url(./media/goblin_cursor2.png), auto;
}

body:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}

body::-webkit-scrollbar {
    display: none;
}

.main-content {
    font-family: Akzidenz-Grotesk;
    flex: 1;  /* This allows the content to expand and push the footer down */
    background-image: url(./media/mushroom_cloud.gif);
    background-image: ;
    background-color: rgb(43, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px
}
.game-description {
    max-width: 30vh;
    padding: 1vw;
}

.container video {
    max-width: 100vh; /* Adjust the max-width as needed */
}

.footer {
    font-family:  Gregorian;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    cursor: url(./media/goblin_cursor2.png);
}

.footer:active {
    cursor: url(./media/goblin_cursor3.png);
}

a {
    color: rgb(255, 0, 0);
    cursor: url(./media/goblin_cursor2.png), auto;
}

a:hover{
    cursor: url(./media/goblin_cursor1.png), auto;
}

a:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}

a:visited {
    color:rgb(255, 115, 0);
}

marquee.scroll-text {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 196, 0);
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    border-radius: 1px;
    overflow: hidden;
}