@font-face {
    font-family: Akzidenz-Grotesk;
    src: url(./media/Akzidenz-grotesk-black.ttf)
}
@font-face {
    font-family: Gregorian;
    src: url(./media//GregorianFLF.ttf);
}

.header {
    font-family: Gregorian;
    font-size: xx-large;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 115, 0);
    justify-content: center;
}

html, body {
    width: 100%;
    height: 100%;
    cursor: url(./media/goblin_cursor2.png), auto;
    background-color: black;
}

body:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}

body::-webkit-scrollbar {
    display: none;
}

.main-content {
    font-family: Akzidenz-Grotesk;
    flex: 1;  /* This allows the content to expand and push the footer down */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

.background {
    position: absolute;
    width: 100%;
    height: 150rem;
    background-image: url(./media/mushroom_cloud.gif);
    background-color: rgb(12, 0, 0);
}

.bounce {
    height: 150rem;
}

.container {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px
}
.game-description {
    max-width: 30vh;
    padding: 1vw;
}

.container video {
    max-width: 100vh; /* Adjust the max-width as needed */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    max-width: 500px;
    max-height: 100px;
    background-color: rgb(255, 0, 0);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid black;
    cursor: url(./media/goblin_cursor2.png), auto;
}

.download-button:hover {
    cursor: url(./media/goblin_cursor1.png), auto;
}

.download-button:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}


.footer {
    font-family:  Gregorian;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    cursor: url(./media/goblin_cursor2.png);
}

.footer:active {
    cursor: url(./media/goblin_cursor3.png);
}

a {
    color: rgb(255, 0, 0);
    cursor: url(./media/goblin_cursor2.png), auto;
}

a:hover{
    cursor: url(./media/goblin_cursor1.png), auto;
}

a:active {
    cursor: url(./media/goblin_cursor3.png), auto;
}

a:visited {
    color:rgb(255, 115, 0);
}

.scroll-text {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 196, 0);
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    border-radius: 1px;
    overflow: hidden;
}

li.cool-item {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: yellow; }
    100% { color: red; }
}

span.red-text {
    color: red;
}